<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      layout:decorator="Layout.html" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Footer</title>
    </head>
    <body>
        <p layout:fragment="footer">
          <hr/>

        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; LDT 2014 - by <a href="http://ldt.com">Lê Đình Thoa</a>
                    </p>
                </div>
            </div>
        </footer>
         </p>
    </body>
</html>