<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      layout:decorator="Layout.html" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8" />

</head>
<body>
	<p layout:fragment="menu">
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse"
						data-target=".navbar-ex1-collapse">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#home">LVC Company</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse navbar-ex1-collapse">
					<ul class="nav navbar-nav">
						<li><a href="#about">Giới thiệu</a></li>
						<li><a href="#">Dịch vụ</a></li>
						<li><a href="#" th:href="@{/contact}">Liên lạc</a></li>
						<li><a href="#" th:href="@{/register}">Đăng kí</a></li>
						<li><a href="#" th:href="@{/user/login}">Đăng nhập</a></li>

						<div class="btn-group" style="margin-top: 10px;">
							<button type="button" class="btn btn-default dropdown-toggle"
								data-toggle="dropdown">
								Tìm kiếm theo hãng<span class="caret"></span>
							</button>
							<ul class="dropdown-menu" role="menu" >
								<li th:each = " hangXe : ${hangXeUIs}">
								<a href="#" th:href="@{/search(hangXeId = ${hangXe.hangXeId})}" th:text = "${hangXe.tenHangXe}">Honda</a>
								</li>
							
							</ul>
						</div>


					</ul>
				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container -->
		</nav>
	</p>
	<p layout:fragment="menu-loged">
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse"
						data-target=".navbar-ex1-collapse">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#home">LVC Company</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse navbar-ex1-collapse">
					<ul class="nav navbar-nav">
						<li><a href="#about">Giới thiệu</a></li>
						<li><a href="#">Dịch vụ</a></li>
						<li><a href="#" th:href="@{/contact}">Liên lạc</a></li>
						
						<div class="btn-group" style="margin-top: 10px;">
							<button type="button" class="btn btn-default dropdown-toggle"
								data-toggle="dropdown">
								Tìm kiếm theo hãng<span class="caret"></span>
							</button>
							<ul class="dropdown-menu" role="menu" >
								<li th:each = " hangXe : ${hangXeUIs}">
								<a href="#" th:href="@{/search(hangXeId = ${hangXe.hangXeId})}" th:text = "${hangXe.tenHangXe}">Honda</a>
								</li>
							
							</ul>
						</div>

						<li><a href="#" th:href="@{/user/logout}">Thoát</a></li>
					</ul>
				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container -->
		</nav>
	</p>
	
	<!-- custom dropdown library -->
	<script src="js/bootstrap-dropdown.js"
		th:src="@{/resources/js/bootstrap-dropdown.js}"></script>
</body>
</html>